*.fls
*.fdb*
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
.idea/
.ide/
.gradle/
*.kate-swp
.directory
_minted*/
*.nav
*.snm
*.vrb
build/
conference_101719.pdf
out/
paper-2024-iscc-sms.pdf
.vscode/
paper-2024-ccnc-rt-crowdDT.pdf
*.auxlock
*.dpth
*.md5
wip-paper-2024-ccnc-rt-crowdDT-4pages.pdf
paper25-fgcs-dtecosys-crowddt.pdf
*.abs
*-blx.bib
*.run.xml
cover-letter.pdf
*.dvi
*.xcp
paper*.pdf
